
/*
header{
	background-image: url(https://hd.unsplash.com/photo-1429305336325-b84ace7eba3b);
	height: 100%;
	width: 100%;
	background-size: 100%;
	

}
header h1{
	text-align: center;
	border-bottom: solid white;
	width: 200px;
	margin-left: 43%;

}
header h2{
	text-align: center;
	margin-top:250px;
	margin-bottom: 340px;
	font-size: 50px;
}

body{
	margin-right: 20px;
	background-color: #566270;
}
}

.info{
	border-style: solid;
}

.overlay{
	background-color: #34314c;
}


.overlay ul{
	margin-top: -5px;
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	font-size: 20px;
	

}

.overlay li{
	margin-right: 150px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.overlay a{
	color: black;
}

.overlay a:hover{
	color: white;
}


main{
	background-color: white;
}


.formation{
	margin-bottom: 20%;
	margin-top: 5%;
}




.formation h2{
	text-align: center;
	border-bottom: solid;
	width: 600px;
	margin-left: 30%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.formation li{
	text-align: left;
	margin-top: 20px;
	list-style: none;
	margin-left: 20%;
	width: 800px;
	margin-top: 50px;
}

.formation .datef{
	margin-right: 20px;
	margin-left: 20px;
	border-bottom: solid;
}

.containli li{
	border-style: solid;
	display: inline-block;
	justify-content: center;
}

.experience{
	border-top: solid;

}


.saison{
	margin-left: 80%;
	margin-right: 5%;
	margin-bottom: 5%;

}

.saison h3{
	margin-left: 15%;
	

}

.experience h2{
	text-align: center;

}

.stage{
	
	margin-right: 70%;
	margin-left: 5%;
}

.stage h3{
	margin-left: 15%;
	border-bottom: solid;
	width: 200px;
}

.stage li{
	list-style: none;
	margin-bottom: 10%;
	margin-top: 20%;
}

.saison li{
	list-style: none;
	margin-bottom: 10%;
	margin-top: 20%;

}


.containF{
	margin-top: 15%;
}

.containF li{
	margin-top: 10%;
}

*/
body{
	background-image:url(congruent_outline.png"&);
}