body{
	background-color: #E0E3DA;
	
}

body li{
	list-style-type: none;

}

header h1 {
	text-align: center;

	
}

header{
	border-style:none;
	background-color: #566270;
}


.gauche{
	text-align: center;
	border-style: groove;
	margin-right: 20%;
	width: 300px;

}

.info li{


}

.contact{
	text-align: center;
	border-style: groove;
	margin-left: 400%;
	margin-right: -100%;
	width: 300px;

}


.droite{

	border-style: groove;
	margin-left: 20%;
	width: 20%;
	height: 100px;

}


.info{

}


.centre{
	 
	margin-top: 0%;
}



.formation .li{
	text-align: center;
}

.formation h3{
	
	border-color: blue;
	color: black;
}

.experience.li{
	text-align: center;}

.experience h3{
	
	border-color: blue;
	color: black;
}

.competence h3{
		border-color: blue;
	color: black;
}

.interet h3{
	
	border-color: blue;
	color: black;
}

.datef{
	
	border-color: blue;
	color: black;
}

