header{
	background-image: url(https://hd.unsplash.com/photo-1429305336325-b84ace7eba3b);
	height: 100%;
	width: 100%;
	background-size: 100%;
	position: relative;

}
header h1{
	text-align: center;
	border-bottom: solid white;
	margin-bottom: 20px;

}
header h2{
	text-align: center;
	margin-top:200px;
	margin-bottom: 400px;
	font-size: 50px;
}

body{
	margin-right: 20px;
	background-color: #566270;
}
}

.info{
	border-style: solid;
}

.overlay{
	background-color: #34314c;
}


.overlay ul{
	margin-top: -5px;
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	font-size: 20px;
	

}

.overlay li{
	margin-right: 150px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.overlay a{
	color: black;
}

.overlay a:hover{
	color: white;
}


main{
	background-color: white;
}